/* Only styles things in the App.tsx scope */

.header {
    
    background-color: #A7ECEE;

}



/* Star Rating Stars Styling */
.star {
    cursor: pointer;
    font-size: 30px;
}

.star-filled {
    color: orange;
    font-size: 30px;
}
